
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content_tent" style="background-color:burlywood">

    <img src="~/Content/imageDankamusic/VBK_page-0001.jpg" style="width: 1000px; border-radius: 20px; margin-left: 250px;" />
    <img src="~/Content/imageDankamusic/VBK_page-0002.jpg" style="width: 1000px; border-radius: 20px; margin-left: 250px;" />
    <img src="~/Content/imageDankamusic/VBK_page-0003.jpg" style="width: 1000px; border-radius: 20px; margin-left: 250px;" />
</div>















<style>

    .content_toptop {
        padding: 15px 20px;
        border: 2px solid darkorchid;
        border-radius: 15px;
    }


    .content_tent {
        padding: 15px 20px;
        border: 2px solid darkorchid;
        border-radius: 9px;
    }

    .categories {
        border: 2px solid darkorchid;
        border-radius: 9px;

    
    }

    
        
  
</style>