
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">XÁC NHẬN ĐƠN HÀNG</h2>
<h4>Học cho đàng hoàng nghen cu</h4>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home")

</p>

